[submodule "wiki"]
	path = wiki
	url = https://codeberg.org/taisho-guy/NeoUtl.wiki.git
[submodule "sdk"]
	path = sdk
	url = https://codeberg.org/TeamNeoUtl/neoutl-sdk.git
[submodule "i18n"]
	path = i18n
	url = https://codeberg.org/TeamNeoUtl/neoutl-locales.git
